*{
    box-sizing: border-box;
} 




.about-first{
    height: 500px;
    width: 100%;
    background-color: lavender; 
    background-image: url(/images/light.jpg);
    background-size: 130%; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}  


.about-first h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    opacity: 80%;
    font-size: 75px;
    margin-top: 200px;

}

.about-second{
    width: 100%;
    height: 500px; 
    background-color: white;  
    text-align: center; 
    padding:50px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}  

.about-second h1{
        font-size: 60px; 
        opacity: 70%;

}




.about-third{ 
    text-align: center;
    width: 100%;
    height:600px;
    background-color: lavenderblush; 
    padding: 30px 200px; 
    display: flex; 
    flex-direction: column;  
    font-family: Georgia, 'Times New Roman', Times, serif;
 
     

} 
.frame{ 
    align-self: center;
    width: 300px;
    height: 300px;
    border-radius: 50%; 
    background-color: lightcoral; 
    border-width: 4px; 
    border-style: dashed; 
    margin-bottom: 30px;
} 

.about-third h1,h2,p {
    margin: 10px;
   
} 
  
.about-third h1{
    font-size: 30px;
}


.about-third h2 {
    font-size: 15px;
}


.about-fourth{
    width: 100%;
    height: 300px; 
    opacity: 80%;
    background-image: url(/images/light.jpg); 
    background-position: center;
    background-size: 100%;
} 


.about-fifth{
    width: 100%;
    height: 550px;
    background-color: white;  
    padding: 50px 100px;
    display: flex;
    flex-direction: row; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}  

.booking-box { 
    flex: 1;
    width: 450px;
    height: 400px;
    background-color: pink;  
    display: flex;
    justify-content: center; 
    color: white;  
    margin-left: 100px; 
    position: relative;
} 




.services {
    flex: 1;
    width: 450px;
    height: 400px;
    background-color: pink;  
    display: flex;
    justify-content: center; 
    color: white;  
    margin-left: 100px;
    
}
 


.booking-box h1 {
    margin-top: 30%;
}


.services h1 {
    margin-top: 30%;
}


span{
    color: palevioletred;
}  


.b-image{
    position: relative;
    
}   




.overlay{
    position: absolute;
    background-color:  pink;
    color: white;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 30px;
    transition: all .3s ease; 
    opacity: 0; 
    top: 0;
    left: 0; 
    width: 100%;
  

} 



.booking-box:hover .overlay{
    opacity: 1;  
    height: 100%;
    cursor: pointer;
} 



@media (max-width:600px){

        .about-first{
            height: 200px; 

        }
        .about-first h1 {
            font-size: 50px; 
            margin: 50px;
        }


        .about-second{
            height: 350px; 
        } 

        .about-second h1{
            font-size: 45px;
            margin: 0;
        }

        .frame{
            width: 200px;
            height:200px;
        }  



        .about-third{
        align-items: center;
        }
        .about-third h1{
            font-size: 20px;
        }
        .about-third p{
            height: 100px; 
            width: 400px;
            text-align: center;
        }
}