* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  width: 100%;
  height: 150px;
  background-color: white;
  margin-bottom: 10px;
}

.nav {
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.nav li {
  display: inline-block;
  padding: 0px 50px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav li:hover {
  color: darkgrey;
}

.book {
  float: right;
  margin-left: 200px;
  background-color: palevioletred;
  border-style: none;
  color: white;
  padding: 30px;
  transition-duration: 100ms;
  -webkit-transition-duration: 100ms;
  transition-timing-function: ease-in-out;
  width: 100px;
  font-weight: bold;
}

.book:hover {
  background-color: powderblue;
  cursor: pointer;
  width: 150px;
  z-index: 3;
  text-decoration-style: dashed;
  color: white;
}

.first {
  width: 100%;
  height: 500px;
  background-color: bisque;
  margin-top: 10px;
  background-image: url(/images/promo/table3.jpg);
  background-size: 120%;
  background-repeat: no-repeat;
}

.head-logo {
  width: 60%;
  height: 100px;
}

.logo {
  float: right;
  height: 100%;
}

.first-card {
  background-color: white;
  width: 60%;
  height: 250px;
  color: black;
  font-family: sans-serif;
  padding: 10px 30px;
}

.first-card h1 {
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: lighter;
}

.card-line {
  border: dashed 3px black;
  border-width: 2px;
}

.first-bottom {
  width: 100%;
  height: 100px;
  background-color: powderblue;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.s-icon {
  margin: 0px 20px;
}

.s-icon:hover {
  opacity: 50%;
  cursor: pointer;
}

.second {
  width: 100%;
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 1;
}

#down-btn {
  position: absolute;
  background: palevioletred;
  border: 2px dashed;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  top: 300px;
  left: 80%;
  color: grey;
  cursor: pointer;
  transition: 0.2s ease-in;
  box-shadow: 2px 1px 4px rgba(117, 117, 117, 0.397);
}

#down-btn img {
  width: 50px;
}

#down-btn:hover {
  width: 92px;
  height: 92px;
  opacity: 80%;
  background: powderblue;
}

.balloons {
  flex: 1;
  margin: 80px 50px;
  opacity: 50%;
}

.second p {
  font-size: 1.8vh;
}

.s-right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.s-right h1 {
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vw;
  font-weight: lighter;
}

.s-right p {
  width: 60%;
}

#tag-line {
  font-size: 70px;
  color: palevioletred;
}

.second-extra {
  width: 100%;
  background: lightgray;
  transition: 0.7s ease-in-out;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.second img {
  width: 100px;
}

.sub-box {
  width: 300px;
  height: 300px;
  margin: 0 4%;
  display: flex;
  flex-direction: column;
}

.sub-box .top {
  width: 100%;
  height: 80%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 8px 6px -8px rgba(0, 0, 0, 0.295);
}

.sub-box .bottom {
  width: 100%;
  height: 20%;
  text-align: center;
  color: rgb(102, 102, 102);
}

.sub-box img:hover {
  filter: saturate(90%);
}

.third {
  margin-top: 2%;
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: row;
}

.third-left {
  width: 50%;
  background: rgb(245, 245, 245);
  height: 100%;
  padding: 3%;
  display: flex;
  flex-direction: row;
}

.booking-box {
  width: 60%;
  height: 100%;
  background: palevioletred;
  border-radius: 5px;
  padding: 2%;
  box-shadow: 3px 2px 3px rgba(191, 191, 191, 0.707);
  overflow: hidden;
}

.booking-box img {
  width: 120px;
  margin-top: 4%;
}

.booking-box h1 {
  color: white;
  font-weight: lighter;
  font-size: 3rem;
  border-top: 5px dashed white;
  width: 80%;
  margin-top: 15%;
  padding-top: 20px;
}

.booking-info {
  width: 55%;
  margin-left: 5%;
}
.booking-info p {
  font-size: 14px;
  margin: 0;
}
.booking-info h3 {
  text-transform: capitalize;
  color: rgb(102, 102, 102);
  font-weight: lighter;
  font-size: 4vh;
  cursor: pointer;
}

.booking-info a {
  text-decoration: none;
}

.booking-info h3:hover {
  color: palevioletred;
  border-bottom: 3px dashed palevioletred;
}

.third-right {
  width: 50%;
  background: powderblue;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 1%;
}

.love-left {
  display: flex;
  flex-direction: column;
  width: 70%;
  color: white;
  text-transform: capitalize;
  margin-left: 3%;
}

.love-left p {
  font-size: 14px;
}
.love-left h1 {
  margin-top: 150px;
  font-size: 2.5rem;
}

.love-right {
  width: 40%;
  justify-content: center;
}

.love-right img {
  width: 100%;
}

.wedding-icon {
  opacity: 60%;
  flex: 1;
}

.fourth {
  width: 100%;
  height: 500px;
  background-color: white;

  display: flex;
  justify-content: row;
}

.clock {
  width: 50%;
  display: flex;
  justify-content: center;
}
.clock img {
  align-content: center;
  align-self: center;
  width: 350px;
}

.clock-info {
  padding: 3%;
  width: 45%;
}

.clock-info h1 {
  font-weight: lighter;
  font-size: 3.5rem;
}
.clock-info p {
  width: 70%;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(59, 59, 59);
  width: 100%;
  height: 250px;
  padding: 50px 10px;
}

hr {
  border-width: 5px;
  color: cornflowerblue;
  border-style: dashed;
  border-color: white;
}

.foot-img {
  margin: 10px;
}

.footer-logo {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  color: white;
  display: flex;
  align-self: center;
}

footer p {
  text-align: center;
  color: white;
}

/*modal*/

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(238, 139, 189, 0.336);
  width: 100%;
  height: 100%;
  justify-content: center;
}

.modal-form {
  width: 50%;
  height: 600px;
  background-color: white;
  margin-top: 5%;
  animation-name: modalopn;
  animation-duration: 400ms;
  padding: 0px 15px;
}

#m-heading a {
  text-decoration: none;
  color: palevioletred;
}

.modal-form #m-heading:hover {
  opacity: 70%;
  cursor: pointer;
  content: " - Remember this";
}

#book-c {
  display: none;
}

#book-c textarea {
  width: 180px;
  height: 100px;
  border-width: 3px;
  border-color: black;
}

.options {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

.options button {
  margin: 5px 70px;
  margin-top: 0;
  border: none;
  background: none;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
}

.options button:hover {
  opacity: 80%;
}

@keyframes modalopn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.close-btn {
  float: right;
  margin: 3px;
}

.modal-form h1 {
  margin: 1%;
  margin-top: 3%;
  font-weight: normal;
  font-size: 2.3vh;
  color: palevioletred;
}

.close-btn:hover {
  cursor: pointer;
  color: powderblue;
}

.form-containter {
  width: 100%;
  height: 530px;
  background: white;
  border: 3px dashed rgb(46, 46, 46);
  padding: 1%;
}
.popup-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.p-form-left {
  width: 60%;
}
.p-form-right {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.f-group p {
  text-transform: capitalize;
  font-size: 2vh;
  margin: 2%;
}

.f-group label {
  text-transform: capitalize;
  font-size: 1.9vh;
}

.f-bottom-group {
  margin-top: 4%;
  display: grid;
  grid-template-columns: 1fr;
}

.f-bottom-group input {
  width: 55%;
  margin: 1.5% 0;
  height: 22px;
  border: 2px solid rgb(56, 56, 56);
  border-radius: 0;
}
.f-bottom-group label {
  text-transform: capitalize;
  font-size: 2vh;
}

.p-form-right-top {
  width: 100%;
  height: 70%;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 10%;
  border-radius: 2px;
}

.p-form-right-top div {
  text-align: right;
}

.p-form-right-top p {
  margin-right: 10%;

  text-transform: capitalize;
  color: rgb(39, 39, 39);
}

.p-form-right-top h1 {
  text-align: right;
  font-size: 7vh;
}

.p-form-right-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding: 10px;
  justify-content: center;
  padding-left: 75px;
}

.modal-submit-button {
  margin-top: 40%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgb(51, 51, 51);
  border: 3px dashed white;
  cursor: pointer;
  color: white;
  box-shadow: rgba(117, 117, 117, 0.558);
  transition: 0.05s ease-in-out;
}

.modal-submit-button:hover {
  transform: scale(1.05);
  opacity: 70%;
}

.calc-btn {
  padding-left: 10%;
  margin-left: 15%;
  margin: 0;
  margin-top: 70%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: palevioletred;
  border: 3px dashed white;
  cursor: pointer;
  color: white;
  box-shadow: rgba(117, 117, 117, 0.558);
  transition: 0.05s ease-in-out;
}

.calc-btn:hover {
  transform: scale(1.05);
  opacity: 90%;
}

/*modal end*/

.burger {
  font-size: 45px;
  color: palevioletred;
  cursor: pointer;
  display: none;
  transition: 0.2s ease;
}

.burger:hover {
  color: powderblue;
}

.slide-top {
  width: 100%;
  height: 100%;
  background-color: cadetblue;
  display: none;
  padding: 5% 25%;
}

.caption {
  height: 250px;
  background-color: white;
  padding: 15px;
}

.s1-pic {
  background-image: url(/images/promo/table3.jpg);
  background-size: 120%;
  background-repeat: no-repeat;
}

.s1-pic {
  background-image: url(/images/promo/table3.jpg);
  background-size: 120%;
  background-repeat: no-repeat;
}

.s2-pic {
  background-image: url(/images/stringlight.jpg);
  background-size: 120%;
  background-repeat: no-repeat;
}

.s3-pic {
  background-image: url(/images/cake.jpg);
  background-size: 120%;
  background-repeat: no-repeat;
  background-position-x: center;
}

#booking-nav {
  display: none;
}

@media (max-width: 700px) {
  nav ul.show {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: lightpink;
    top: 80px;
    right: -100%;
    transition: all 0.3s;
    z-index: 1000;
    padding: 30px 20px;
    border: dashed white 2.5px;
    border-image-width: 4;
  }

  nav {
    float: right;
    text-align: center;
  }

  .nav li {
    display: block;
    margin-top: 5px;
    margin-bottom: 15%;
    margin-right: 90%;
    font-size: 25px;
    padding-left: 0;
    padding-right: 0px;
    padding-bottom: 10px;
    transition: 0.08s ease-in;
  }

  .nav a {
    color: white;
  }

  .nav a:hover {
    color: darkslategrey;
  }

  .nav li:hover {
    padding-left: 0;
    padding-right: 200px;
    border-bottom: 4px dashed rgb(83, 83, 83);
    font-size: 20px;
  }
  .burger {
    margin-right: 3px;
    display: block;
    position: static;
  }

  header {
    height: 90px;
  }

  .head-logo {
    margin-left: 10px;
    width: 250px;
    height: 250px;
  }

  .logo {
    width: 75%;
    height: 40%;
  }
  .slide-top {
    font-size: 10px;
  }

  .first {
    height: 300px;
  }

  .first-card {
    width: 400px;
    padding: 10px;
  }

  .first-card p {
    font-size: 12px;
  }

  .first-bottom {
    height: 70px;
  }

  .second {
    padding: 10px;
    height: 300px;
    margin-bottom: 10px;
  }

  .second h1,
  #tag-line {
    font-size: 40px;
    margin: 0;
  }

  .second p,
  ul {
    font-size: 1.2vh;
  }

  .third {
    margin-top: 10px;
  }

  .third h1,
  #tag-line {
    font-size: 4vw;
  }

  .third h3 {
    font-size: 3vw;
  }

  .third p {
    font-size: 1.6vh;
  }
  .booking-info p {
    font-size: 1.4vh;
  }

  .book {
    display: none;
  }

  .fourth h1,
  #tag-line {
    font-size: 40px;
  }

  .fourth p {
    font-size: 1.5vh;
  }

  .wedding-icon {
    width: 100px;
  }
  .clock-icon {
    width: 100px;
  }

  .balloons {
    width: 10px;
  }

  #booking-nav {
    font-size: 6rem;
    display: block;
    margin: 6% 0;
    margin-right: 50%;
    font-weight: light;
  }

  .love-left h1 {
    margin: 0;
    font-size: 4vw;
  }

  #down-btn {
    top: 50%;
  }
}

@media (max-width: 430px) {
  .head-logo {
    width: 200px;
    height: 100px;
  }

  .logo {
    width: 200px;
    height: 100px;
  }
  .slide-top {
    padding: 5% 8%;
  }
  .slide-top p {
    font-size: 15px;
  }

  .second {
    width: 100%;
  }

  .s-right h1 {
    font-size: 1rem;
  }

  .s-right p {
    font-size: 1.2vh;
  }
  .second-extra {
    width: 100%;
  }

  .div-caption {
    width: 80%;
  }

  #down-btn {
    border-color: grey;
    color: palevioletred;
    top: 150px;
    left: 40px;
  }

  .third {
    width: 100%;
    height: 300px;
    background: white;
  }

  .fourth {
    width: 100%;
    padding: 2% 5%;
  }

  /*.second img {
    width: 50px;
    height: 50px;
    margin: 10px 10px;
  }  */

  .balloons {
    width: 80px;
    height: 80px;
    margin: 0;
  }
  .second h1 {
    font-size: 10px;
    margin: 0%;
  }

  .third {
    flex-direction: column;
    height: 500%;
  }

  .third-left {
    width: 100%;
  }

  .third-right {
    width: 100%;
  }
  .third img {
    width: 130px;
    height: 130px;
  }

  .third h1 {
    font-size: 17px;
    height: 100px;
  }

  .third p {
    font-size: 1.2vh;
  }

  .third .tag-line {
    font-size: 20px;
  }

  .fourth h1 {
    font-size: 17px;
  }

  .fourth p {
    font-size: 0.5rem;
  }
  .clock {
    height: 50%;
  }

  .fourth .tag-line {
    font-size: 20px;
  }

  .love-left h1 {
    margin: 0;
  }
  .second-extra {
    flex-direction: column;
    align-items: flex-start;
  }
  .sub-box {
    align-items: left;
    width: 100px;
    height: 100px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 5%;
  }

  .sub-box .top {
    width: 100px;
    height: 100px;
  }

  .sub-box .bottom {
    padding-left: 10%;
  }

  .sub-box p {
    margin-top: 80%;
    text-align: left;
  }
}

@media (max-width: 700px) {
  .head-logo {
    width: 200px;
    height: 100px;
  }

  .logo {
    width: 200px;
    height: 100px;
  }
}
