.service-first{
    background-image: url(/images/partytable.jpg); 
    width: 100%;
    height: 500px; 
    opacity: 70%; 
    background-repeat: no-repeat;
    background-size: 100%; 
    background-position: center;  
    display: flex;
    justify-content: center; 
    
}  

.service-first h1{
    font-size: 100px; 
    font-family: 'Times New Roman', Times, serif; 
    font-weight: lighter;
    margin-top: 150px; 
  
}

.service-bottom{
    width: 100%;
    height: 100px;
    background-color: palevioletred;
} 

.service-second{
    width: 100%;
    height: 600px; 
    background-color: plum;  
    text-align: center;
    display: flex; 
    flex-direction: column;
    

    
} 

.service-sub1{ 
    padding: 50px;
    flex: 1;
    width: 100%;
    height:300px; 
    background-color:white;  
    display: grid;
    grid-template-columns: 1fr 1fr;    

    text-align: start;
} 

.service-sub1 h1 {
    font-family: Times, 'Times New Roman', serif ; 
    font-weight: lighter;
}   



.main-heading{
    font-size:35px;  
    opacity: 90%;
    font-family: Georgia, 'Times New Roman', Times, serif;

} 

.service-third{
    width: 100%;
    height: 550px;
    background-color: whitesmoke;  
    padding: 50px 100px;
    display: flex;
    flex-direction: row; 
    font-family: Georgia, 'Times New Roman', Times, serif; 
    
} 

.booking-box { 
    flex: 1;
    width: 450px;
    height: 400px;
    background-color: pink;  
    display: flex;
    justify-content: center; 
    color: white;  
    margin-left: 100px;
} 




.services {
    flex: 1;
    width: 450px;
    height: 400px;
    background-color: pink;  
    display: flex;
    justify-content: center; 
    color: white;  
    margin-left: 100px;
    
}
 
#sub-h1{
    font-size: 45px;
}  

#sub-h1 p{
    font-size: 25px;
} 


#small-text{
    font-size: 14px;     
    color:palevioletred;

} 

@media (max-width:600px){

    .service-first{
        height: 300px;
    }

    .service-first h1{ 
        margin-top: 50px;
        font-size: 70px;
    }

    .service-sub1{
        display: inline-block;
    } 
    .service-sub1 img{
        width: 400px;
        height: 200px;
        
    } 

    #sub-h1{
        font-size: 30px;
    } 
    #sub-h1 p{
        font-size: 17px;
    }

}